header {
    width: 100vw;

}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100vw;
    height: 90vh;

    & section{
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        & form {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            height: 100%;
        }

        & #lista{
            height: 50%;
            width: 100%;

            & #lista-texto{
                max-height: 200px;
                overflow-y: scroll;
            }
        }
    }
}