@import url("nav.css");
@import url("footer.css");

:root {
    --cor1: #0f2736;
    --cor2: #22577a;
    --cor3: #38a3a5;
    --cor4: #57cc99;
    --cor5: #80ed99;
    --cor6: #c7f9cc;
    --cor7: #edfdef;

}

* {
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: var(--cor6);

    & main {
        width: 100vw;
        height: 75vh;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-y: scroll;
        scrollbar-width: none;

        & .section {
            min-width: 30%;
            min-height: 50%;
            max-height: 500px;
            background-color: var(--cor3);
            border-radius: 80px;
            margin: 50px;
            box-shadow: 0px 0px 20px var(--cor2);
            padding: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            overflow-y: scroll;
            scrollbar-width: none;
            /* Firefox */

            & form {
                width: 100%;
                height: 100%;
                border-radius: inherit;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                flex-direction: column;


                & .inputContainer {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    width: 100%;

                    & label {
                        color: var(--cor7);
                        font-size: 30px;
                    }

                    & input {
                        width: 50%;
                        height: auto;
                        font-size: 28px;
                        border: 1px groove black;
                        border-radius: 50px;
                        padding-inline: 10px;
                        text-align: center;
                    }

                    & .dadDivRadio {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: row;
                        width: 100%;


                        & .divRadio {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-direction: row;
                            margin-inline: 15%;

                            & .labelRadio {
                                font-size: 25px;
                                margin-left: 5px;
                            }

                        }
                    }

                }

                .submit {
                    margin-top: 20px;
                    text-align: center;
                    border-radius: 20px;
                    background-color: var(--cor1);
                    color: var(--cor7);
                    border: none;
                    padding: 10px;
                    padding-inline: 20px !important;
                    width: 50%;
                    height: auto;
                    font-size: 25px;
                    transition-duration: 0.2s;
                    cursor: pointer;
                }

                .submit:hover {
                    background-color: var(--cor2);
                    font-size: 27px;
                    transition-property: font-size, background-color;
                    transition-duration: 0.2s;
                    transition-timing-function: ease-in-out;
                    transition-delay: 0s;
                }
            }

            & .h3Res {
                font-size: 40px;
                color: var(--cor7);
                margin: 15px;
                text-align: center;
            }

            & .pRes {
                font-size: 20px;
                color: var(--cor7);
                width: 100%;
                text-align: center;
            }

            & .h-90{
                height: 90%;
            }

            & .h1Title {
                color: var(--cor7);
                font-weight: 600;
                font-size: 35px;
                width: 100%;
                text-align: center;
            }

        }
    }
}