.active {
    font-weight: 700;
    font-size: 30px !important;
    color: var(--cor1) !important;
}

nav {
    background-color: var(--cor4);
    display: flex;
    align-items: center;
    justify-content: start;


    width: 100vw;
    height: 15vh;


    & h1 {
        color: var(--cor1);
        width: 10%;
        font-size: 35px;
        text-align: center;
    }

    & #divNav1 {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 90%;

        & #linksPages {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: row;
            width: 65%;

            & li {
                list-style: none;

                & a {
                    text-decoration: none;
                    color: var(--cor1);
                    font-size: 25px;
                    transition-duration: 0.5s;
                }

                & a:hover {
                    text-decoration: none;
                    color: var(--cor3);
                    font-size: 40px;
                    transition-property: font-size, color;
                    transition-duration: 0.5s;
                    transition-timing-function: ease-in-out;
                    transition-delay: 0s;
                }
            }
        }

        & #linksDev {
            width: 25%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: row;

            & li {
                list-style: none;
                width: 50px;
                height: 50px;
                transform: translate(50%, 50%);


                & a {
                    width: 100%;
                    height: 100%;
                    color: #0f2736;
                    transform: translate(50%, 50%);

                    & svg {
                        width: 100%;
                        height: 100%;
                        font-size: 50px;
                        transition-duration: 0.5s;
                        transform: translate(-50%, -50%);
                    }

                    & #linkedin:hover {
                        color: #0e76a8;
                        width: 70px;
                        height: 70px;
                        transition-property: width, height, color;
                        transition-duration: 0.5s;
                        transition-timing-function: ease-in-out;
                        transition-delay: 0s;
                    }

                    & #github:hover {
                        color: #171515;
                        width: 70px;
                        height: 70px;
                        transition-property: width, height, color;
                        transition-duration: 0.5s;
                        transition-timing-function: ease-in-out;
                        transition-delay: 0s;
                    }

                    & #web:hover {
                        color: #4f2fc2;
                        width: 70px;
                        height: 70px;
                        transition-property: width, height, color;
                        transition-duration: 0.5s;
                        transition-timing-function: ease-in-out;
                        transition-delay: 0s;

                    }
                }
            }
        }
    }
}